body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #888;
}

.zbTreePanel {
    width: 300px;
    margin-left: 10px;
    float: left;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.zbSelectPanel {
    width: 290px;
    height: 50px;
    float: left;
    margin-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.zbTitlePanel {
    line-height: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #888
}

.zbPanel{
    width:290px;
    float: left;
    border-style: none;
    background: #006677;
}